.navbar-nav {
    width: 100% !important;
    justify-content: space-around !important;
}
.nav-link {
    width: 100px !important;
    text-align: center;
}
/* .nav-item {
    position: static !important;
} */

.dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top: 0px !important;
    width: 100% !important;
}
.dropdown-item {
    text-align: center;
}

.nav-item {
    position: static !important;
}

.dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top: 0px !important;
    width: 100% !important;
}

/* Set the background color of the navbar */
.custom-navbar {
    background-color: rgb(239, 239, 239);
}

/* Style the navbar links */
.navbar-nav .nav-link {
    color: black; /* Default link color */
    transition: color 0.3s; /* Smooth transition for the color change */
}

/* Change the link color on hover */
.navbar-nav .nav-link:hover {
    color: #12a89d;
}


/*footer horizontal bar design*/
.footer{
    width:100%;
    text-align:left;
    background-color:#244552;
    margin-top:3%;
    padding:1%;
    height:200px;
    margin-bottom:0%;
    align-items: center;
    align-content: center;
}

.logo{
    height:70px;
    width: auto;
    float:left;
    margin-right:5%;
    margin-left:3%;
}