.navCarousel{
    width:100%;
    margin-top:-25%;
}

.itemc{
    height:350px;
}

.CIH2{
    color:white;
    font-weight:700;
    font-size: 35px;
}

.CIH1{
    color:black;
    font-weight:700;
    font-size: 35px;
}

.CIP1{
    color:black;
    font-weight:700;
    font-size:20px;
}

.CIP2{
    color:white;
    font-weight:600;
    font-size:20px;
}