body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Navbar */
.custom-navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.custom-navbar:hover {
    background-color: white;
}

.custom-navbar .nav-link {
    color: black;
    font-weight: bold;
}

.custom-navbar .navbar-toggler {
    border-color: rgba(0,0,0,.1);
}

.custom-navbar .nav-link:hover {
    color: black;
}
