div.main{
    margin-left:20px;
    margin-right:20px;
}



h1.header {
    margin: auto;
    text-align: center;
    font-weight: 500;
}

div.explanation{
    border-top-width:2cm;
    margin:10px;
    padding: 15px;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color:#0c827e;
    border-top-left-radius:15%;
    border-top-right-radius:15%;
    text-align:center;
}

h3.det{
    font-weight:200;
}

#imp{
    font-style: bold;
    color: #037672;
}

div.ESGicons{
    border-width: 0.1cm;
    border-color:#a2a2a2;
    border-style:double;
    text-align:center;
    background-color: aliceblue;
    padding-bottom: 30px;
}

div.Card{
    text-align:center;
    display: inline-flex;
  /* align-items items in column */
    flex-direction: column;
  /* center items horizontally */
    align-items: center;
  /* center items vertically */
    justify-content: center;
    width:10cm;
}

#listleft{
    text-align:left;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

img{
    width:100px;
}

#boldgreen{font-weight:bold;
    color: rgb(0, 128, 41);
    padding-top: 30px;
}

#bold{font-weight:bold;}
#light{font-weight: light;}

h1.headers{
    text-align:left;
    margin-left:10px;
    padding:15px;
}

.wbox{
    background-color: rgb(233, 233, 233);
    width:500px;
    height: 400px;
    padding:30px;
    margin:10px;
}