
/*Font*/

h1, h2, h3, h4, h5, h6{
    font-family: sans-serif;
}

.bold{
    font-weight: 700;
}

.light{
    font-weight: 300;
}


/*Main Gradient Color*/

.logocolor1{
    color:#12a89d;
}

.logocolor2{
    color:#1f5b63;
}

.logocolor3{
    color:#1e3d7d;
}

.gradient12{
    color:#198280;
}

.gradient13{
    color:#18738d;
}

.gradient23{
    color:#1f4c70;
}

/*BG Color Pallete*/
.bg1{
    background-color:#edf6f9;
}

.bg2{
    background-color:#acd8d3;
}

.bg3{
    background-color:#54a0b8;
}

.bg4{
    background-color:#75827b;
}

.bg5{
    background-color:#244552;
}