/*thumbnails*/
.thumbnailtext{
    color: white;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 300%;
    font-style: bold;
}

.thumbnail1{
    background-image: url('https://i.pinimg.com/originals/69/b4/02/69b40268ac6b226f5976b5878d71b5a0.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    width: 450%;
}




/*Logo details*/
.start{
    border-top-width:2cm;
    margin:1%;
    padding: 15px;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color:#12a89d;
    border-top-left-radius:60%;
    border-top-right-radius:60%;
}