/*3x3 card div*/
.cardtab33{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    margin-bottom: 10%;
}


.button33{
    width: 32%;
    margin: 0.5%;
    height: 300px;
    padding:0;
    background-color:#18738d;
    border:none;
}

.card33A{
    width:100%;
    height: 295px;
    background-color: rgb(244, 244, 244);
}

.card33B{
    width:100%;
    height: 295px;
    background-color: rgb(255, 255, 255);
}

.card33img{
    height:80px;
    align-items: center;
    text-align: center;
    margin-top: 15%;
}

.card33title{
    font-size: 30px;
    padding-top: 10%;
    align-items: center;
    text-align: center;
}


.bgcardB{
    background-color:rgb(246, 246, 246);
}