.goalsB{
    float:center;
    width: 90%;
    height: 450px;
    margin: 5%;
    margin-right: 5%;
    margin-top:4%;
    padding: 2%;
    text-align: center;
    align-content: center;
    background-image: url(../../skill.png);
    background-size: contain;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}

.goalB{
    width:150px;
    margin-bottom:20px;
    margin-top:-400px;
    padding-top: 1%;
    margin-left:45%;
    margin-right: 45%;
    z-index: 1;
    position: absolute;
}

.yearB{
    font-size:100px;
    color:black;
    margin-top: -200px;
    margin-left:30%;
    margin-right: 30%;
    z-index: 1;
    position: absolute;
}

.goaldetailsB{
    float:center;
    width: 90%;
    height: auto;
    margin: 5%;
    margin-right: 5%;
    padding: 1%;
    text-align: center;
    align-content: center;
}

.iconsB{
    width:30%;
    padding: 7%;
    margin-left: -30%;
    background-color: rgb(246, 246, 246);
    border-radius: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.detail1B{
    font-size: 32px;
    font-weight: 600;
    color:#1e3d7d;
    text-align: left;
    margin-left: -20%;
}

.detail1C{
    font-size: 22px;
    font-weight: 400;
    color:#000000;
    text-align: left;
    margin-left: -20%;
}

.tabledB{
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 0%;
}

.tablerB{
    border-top: #12a89d 1px solid;
}


.listB{
    padding: 2%;
    padding-left: 0%;
}

.ulistB{
    list-style-type: square;
}